.wd-font-icon-more {
    font-size: 50%;
    margin-left: -3px;
    margin-right: 2px;
}

.wd-search-icon {
    top: 10px;
    left: 30px;
}

.wd-settings-icon {
    font-size: 30px;
}

.wd-text-image {
    bottom: 1px;
    left: 10px;
    color: white;
}

.wd-img {
    border-radius: 10px;
}





















.wd-top-explore {
    padding-left: 16px;
    justify-content: space-between;
}

.wd-padding-navigation {
    padding-left: 16px;
    display: flex;
}

.wd-padding {
    padding: 8px;
}



.wd-search-bar {
    color: white;
    background-color: rgb(50, 50, 57);
    float: left;
    border-radius: 30px;
    height: 30px;
    width: calc(100% - 100px);
    padding-left: 40px;
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.wd-gear-icon {
    color: rgb(29, 161, 242);
    text-decoration: none;
    float: right;
    margin-right: 16px;
    position: relative;
    font-size: 30px;
}

.wd-navigation-header {
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: left;
}

.wd-navigation-border {
    border-bottom: 3px rgb(47, 51, 54) solid;
}

.wd-navigation-link {
    float: left;
    position: relative;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

.wd-link-selected {
    color: rgb(29, 161, 242);
    border-bottom: rgb(29, 161, 242) solid 4px;
}

.wd-trend-tuit {
    font-size: 13px;
    position: relative;
    margin-left: 16px;
    margin-bottom: 5px;
}

.wd-topic-tuit {
    color: white;
    margin-left: 16px;
    margin-bottom: 5px;
}

.wd-author-tuit {
    font-size: 13px;
    color: white;
    margin-left: 16px;
    margin-bottom: 5px;
}

.wd-tuit-image img {
    border-radius: 30px;
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 16px;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    overflow: hidden;
}

.wd-float-done {
    clear: both;
}

.wd-tuit-border {
    border-bottom: rgb(47, 51, 54) solid 1px;
    padding: 8px;
}





