
.wd-bg-color-black {
    background-color: black; //
}

.wd-fg-color-white {
    color: white; //
}

.wd-fg-gray {
    color: rgb(110, 118, 125); //
}

.wd-margin-left {
    margin-left: 16px; //
}

.wd-margin-right {
    margin-right: 12px;
}

.wd-top-explore {
    padding-left: 16px;
    /*display: flex;*/
    justify-content: space-between;
}

.wd-padding-top {
    padding-left: 16px;
    display: flex;
}

.wd-border {
    border-color: rgb(47, 51, 54);
}

.wd-padding {
    padding: 8px;
}

.wd-centering {
    display: flex;
    justify-content: space-between;
}

.wd-search-bar {
    color: white;
    background-color: rgb(50, 50, 57);
    float: left;
    border-radius: 30px;
    height: 30px;
    width: calc(100% - 100px);
    padding-left: 40px;
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.wd-gear-icon {
    color: rgb(29, 161, 242);
    text-decoration: none;
    float: right;
    margin-right: 16px;
    position: relative;
    font-size: 30px;

}

.wd-navigation-header {
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: left;
}

.wd-navigation-border {
    border-bottom: 3px rgb(47, 51, 54) solid;
}

.wd-navigation-link {
    color: rgb(110, 118, 125);
    float: left;
    position: relative;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.wd-link-selected {
    color: rgb(29, 161, 242);
    border-bottom: rgb(29, 161, 242) solid 4px;
}

.wd-trend-tuit {
    font-size: 13px;
    color: rgb(110, 118, 125);
    position: relative;
    margin-left: 16px;
    margin-bottom: 5px;
}

.wd-topic-tuit {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-bottom: 5px;
}

.wd-author-tuit {
    font-size: 13px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-bottom: 5px;
}

.wd-tuit-image img {
    border-radius: 30px;
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 16px;
    justify-content: center;
    padding-top: 8px;
    position: relative;
    overflow: hidden;
}

.wd-float-done {
    clear: both;
}

.wd-tuit-border {
    border-bottom: rgb(47, 51, 54) solid 1px;
    padding: 8px;
}

.wd-vert-border-left {
    border-left: rgb(47, 51, 54) solid 1px;

}

.wd-vert-border-right {
    border-right: rgb(47, 51, 54) solid 1px;
}




